.Featured {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
}

.Featured div button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 4px 10px;
}

.cards{
    display: flex;
    gap: 40px;
    margin-left: 50px;
    overflow-x: auto;
    scrollbar-width: thin; /* Specify the width of the scrollbar */
    scrollbar-color: transparent transparent;

}
.cards::-webkit-scrollbar {
  /* height: 5px;
  width: 10px;
  background: #120f1a;
  -webkit-border-radius: 8ex; */
  width: 8px;
}

.cards::-webkit-scrollbar-thumb {
  /* background: rgb(255, 1, 255);
  -webkit-border-radius: 8ex; */
  background-color: transparent; /* Set thumb color */
  border-radius: 4px; /* Round the thumb */
  border: 2px dotted #aaa; 
}
/* 
.cards::-webkit-scrollbar-corner {
  background: #fff3;
} */
